
/* big tablet to 1200px (width smaller than 1140px row) */
@media only screen and (max-width:1200px) {
    .row { padding: 0 2%; }
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
}

/* small tablets to big tablets form 768px to 1023px */
@media only screen and (max-width:1023px) {
    body { font-size: 18px; }
    
    section { padding: 60px 0; }
    
    .long-copy {
        text-align: center;
        line-height: 1.45;
        width: 80%;
        margin: 0 auto 30px;
    }
    
    .steps-box { margin-top: 10px; }
    
    .steps-box:last-of-type { margin-top: 40px; }
    
    .works-step { margin-bottom: 40px; }
    
    .works-step:last-of-type { margin-bottom: 60px;}
    
    .app-screen { width: 50%;}
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box { width: 100%;}
    
    .plan-price span { font-size: 220%;}
    
    .contact-form { width: 80%; }
}


/* small phones to small tablets from 481px to 767px */
@media only screen and (max-width:767px) {
    body { font-size: 16px; }
    section { padding: 40px 0; }
    
    .row, .hero-text-box  { padding: 0 4% }
    
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav { display: none}
    .mobile-nav-icon {
        display: inline-block;
    }
    
    nav img {
        float: left;
    }
    
    nav .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: none;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 10px 0;  }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    h1 { font-size: 180% }
    h2 { font-size: 140% }
    .long-copy { width: 100% }
    
    .plan-box {
        margin: 10px 0;
    }
    
    .steps-box:first-child {
    text-align: center;
    }
    
    .works-step { margin-bottom: 30px; }
    
    .works-step:last-of-type { margin-bottom: 40px;}
    
    .app-screen { width: 40%;}
    
    .works-step div {
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 6px;
        font-size: 120%;
        margin-right: 15px;
    }
    
    .footer-nav {
        text-align: center;
    }
    .social-links {
        float: none;
        text-align: center;
    }
    footer p { margin-top: 20px; }
}

/* small phones from 0 to 480px */
@media only screen and (max-width:480px) {
    
    .contact-form { width: 100%; }
    
}


















